<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
        <meta charset="utf-8" /> {# best to put this near the top of the document #}

        <!-- Basic Page Needs
        ================================================== -->        
        <title>{% block title %}Citagora{% endblock %}</title>
        <meta name="author" content="Institute for Digital Information and Scientific Communication">
    
        <meta name="robots" content="NOODP">
        <meta name="robot" content="index,follow" />
        <meta name="robots" content="index,follow" />
        <meta name="description" content="DESC HERE" />
        <meta name="keywords" content="KEYWORDS HERE" />

    
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->
        {% block stylesheets %}{% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Trocchi|Signika:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('_css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('_css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ asset('_css/layout.css') }}">             
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <style type="text/css">
            label { display: block!important; }
            </style>
        <![endif]-->
               

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('_img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('_img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('_img/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('_img/apple-touch-icon-114x114.png') }}">
    </head>
    <body class="default pages">

        <div id="toolbar">
        <div class="container" style="padding: 0;">
            <div class="sixteen columns" style="text-align: right; padding: 0;">
                <ul>
                    <li><a href="">Help</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="login.php">Login</a></li>
                </ul>
            </div>
        </div>
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <div id="footer">
        <div class="container">
            <a href="https://www.idiginfo.org" target="_blank"><img src="{{ asset('_img/idiginfo.png') }}" alt="iDigInfo" border="0" /></a>
        </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>