{% extends 'base.html.twig' %}
{% block page_content %}
<div class="one-third column" id="social-login">
    
    <p>Login to Citagora to comment and rank documents, and to share and export content you find.</p>
    
    <p>Citagora requires you to login via an existing social media account, or using OpenID. Choose your service and we will redirect you to that provider for authentication. After your credentials are confirmed, you will be returned to Citagora.</p>

    
</div>

<div class="two-thirds column" id="pane">
    
    <h2>Login to Citagora</h2>
    
    {# Prints errors if they exist #}
   <a href='{{ site_url }}/login/facebook' title='Signin with Facebook'>    
        <img src="{{ asset_url }}/_img/facebook_signin.png" alt="Signin with Facebook" style="margin-top: 12px;"></a>
    <br />
    
    <a href='{{ site_url }}/login/twitter' title='Signin with Twitter'>
        <img src="{{ asset_url }}/_img/twitter_signin.png" alt="Signin with Twitter" style="margin-top: 4px;"></a>
    <br />
    
    <a href='{{ site_url }}/login/linkedin' title='Signin with LinkedIn'>    
        <img src="{{ asset_url }}/_img/linkedin_signin.png" alt="Signin with LinkedIn" style="margin-top: 4px;"></a>
    <br />

    <a href='{{ site_url }}/login/google' title='Signin with Google'>
        <img src="{{ asset_url }}/_img/google_signin.png" alt="Signin with Google" style="margin-top: 4px;"></a>
    <br />
    
    <a href='{{ site_url }}/login/openid' title='Signin with OpenID'>
        <img src="{{ asset_url }}/_img/openid_signin.png" alt="Signin with OpenID" style="margin-top: 4px;"></a>
            
</div>
{% endblock %}
