{% extends 'base.html.twig' %}
{% block page_content %}
{# Document Index View
 #
 # Available Variables:
 #   docs  (DocumentCollection) - 10 Documents with latest modification timestamp
 #}
<div class="one-third column">
    <h2>Find a Scientific Document</h2>
    
    <form method="post" action="results.php">
    <input type="text" name="identifier" size="30" placeholder="Enter a DOI, URI, Title, author or keyword">
    <input type="submit" value="go">
    </form>
    
    <span class="knockout">
    
    <h2>Currently Searching:</h2>
    
    {# needs to be dynamic #}
    <ul class="disc">
    <li>Web of Science</li>
    <li>Wiley</li>
    <li>Etc</li>
    </ul>
    
    <p class="contact">Want Citagora to search your API? 
    <br><a href="">Let us know</a></p>
    
    </span>       
</div>
<div class="two-thirds column" id="pane-results">
    
    <h2>Latest Activity</h2>

    {% for doc in docs %}   
        <div class='row {{ loop.index is odd ? 'odd' : 'even' }}'>

            {# activity box is only for home page activity results, not search results #}
            <div class='activity'>
                <p class='activity'>
                    Just Published by <a onclick="TINY.box.show({html:'This is a box. A musical box. Wound up and ready to play.',animate:false,close:false})">Dummy</a>
                    <br><span class='date'>11 June 2012, 5:39 am</span>
                </p>
            </div>
            {# end activity #}

            <div class='record'>
                <h4><a href='{{ site_url }}/documents/{{ doc.id }}'>{{ doc.title }}</a></h4>
                <p class='authors'>
                    {% for author in doc.contributors | slice(0,2) %} {# TODO: MAKE THIS SMARTER #}
                        <span class='author'>{{ author.fullname }}</span>    
                    {% endfor %}
                    <span class='publication'>{{ doc.journal }}</span>
                </p>
            </div>

            <div class="share-bear">
                <div class="cites share">
                <img src="_img/icon_small_comments.png" alt="" border="0">
                <p><a href="#dialog" name="modal">Comments</a> ({{ doc.socialMetrics.numDisqus|number_format }})</p>
                </div>
                <div class="ratings share">
                <img src="_img/icon_small_ratings.png" alt="" border="0">
                <p><a href="#dialog" name="modal">Ratings</a> (##)</p>
                </div>
                <div class="share-this share">
                <p>Share This Plugin</p>
                </div>
                <div class="export share">
                <p>Export</p>
                <a href=""><img src="{{ asset_url }}/_img/icon_small_mendeley.png" alt="" border="0"></a>
                <a href=""><img src="{{ asset_url }}/_img/icon_small_zotero.png" alt="" border="0"></a>
                </div>
            </div>

        </div>

    {% endfor %}

</div> 
{% endblock %}