{% extends 'base.html.twig' %}
{% block page_title %}
    {{ document.title }}
{% endblock %}
{% block page_content %}
{# Single Document View
 #
 # Available Variables:
 #   document  (DocumentView)
 #}
<div class="two-thirds column">

 <div class="paper-record" id="pane"> 
          
       <h4>{{ document.title }}</h4> 
        
        <p class="authors">
            {% for author in document.contributors %}
            <a href="#">{{ author }}</a> ;
            {% endfor %}
        </p> 
        
        <p>
            <span class="text-label">Published in:</span> <a href="">{{ document.journal }}</a>
            <br><span class="text-label">Publication Type</span> Journal Article
            <br><span class="text-label">Year of Publication</span> {{ document.year }} (Vol 1, I 2)
            <br><span class="text-label">Pagination</span> {{ document.pagination }}
            <br><span class="text-label">DOI</span> <a href="{{ document.doiUrl }}">{{ document.doi }}</a>
            <br><span class="text-label">PubMed ID</span> <a href="{{ document.pmidUrl }}">{{ document.pmid }}</a>
            <br><span class="text-label">URL</span>
                <a href="{{ document.url }}">
                    {{ document.url|slice(0,50) }}{% if document.url|length > 50 %}&hellip;{% endif %}
                </a>
        </p> 
</div> 
  
<br>

<ul id="tabs" class="tabs">
    <li class="active"><a href="#abstract">Abstract</a></li>
    <li class=""><a href="#ratings">Ratings</a></li>
    <li class=""><a href="#comments">Comments</a></li>
    <li class=""><a href="#citations">Citations</a></li>
    <li class=""><a href="#export">Export</a></li>
</ul>


<div id="abstract" class="content" style="display: block;">
    <h4>Abstract</h4>
    <hr class="tab-rule">
    {{ document.abstract|nl2br }}
</div>
<div id="ratings" class="content" style="display: none;">
    <h4>Ratings</h4>
    <hr class="tab-rule">
    <p><strong>15</strong> Citagora users have rated this paper
    <br>

    <h2>Actual ratings (fix me)</h2>
    <ul>
        <li>Overall:     {{ document.aggregateRating('overall') }}</li>
        <li>Readability: {{ document.aggregateRating('readabilty') }}</li>
        <li>Accuracy:    {{ document.aggregateRating('accuracy') }}</li>
        <li>Originality: {{ document.aggregateRating('originality') }}</li>
        <li id='ratings-test'>Ratings Test (click me)</li>
    </ul>

    </p><table class="tab-table" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr valign="top">
    <td width="25%"><span class="rating-group">Overall  </span></td>
    <td width="25%"><span class="rating-group">Readability </span></td>
    <td width="25%"><span class="rating-group">Accuracy </span></td>
    <td width="25%"><span class="rating-group">Originality </span></td>
    </tr>
    <tr valign="top">
    <td width="25%"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_off.jpg" border="0" class="rated"></td>
    <td width="25%"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_off.jpg" border="0" class="rated"></td>
    <td width="25%"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"></td>
    <td width="25%"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_on.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_off.jpg" border="0" class="rated"><img src="{{ asset_url }}/_img/rating_off.jpg" border="0" class="rated"></td>
    </tr>
    </tbody></table>
    
    
    
    
    <br><br><a href="#dialog" name="modal"><input type="button" value="Add your rating"></a><p></p>
</div>
<div id="comments" class="content" style="display: none;">
    <h4>Comments</h4>
     <hr class="tab-rule">
    <img src="{{ asset_url }}/_img/disqus.jpg" border="0" style="width: auto;">
    
</div>

<div id="citations" class="content" style="display: none;">
    <h4>Cited Works</h4>
     <hr class="tab-rule">

        {% for citation in document.citations %}
            <h6><a href="#">{{ citation.title }}</a></h6> 
            <p class="authors">{{ citation.contributors|join('; ') }}</p> 
        {% endfor %}
</div>

<div id="export" class="content" style="display: none;">
    <h4>Export this record</h4>
     <hr class="tab-rule">
     <input type="checkbox">Include cited works
     <br><br>
     Destination: <input type="checkbox">Mendeley
     <input type="checkbox">Zotero <input type="checkbox">BibTex <input type="checkbox">Etc
     <br><br><input type="button" value="Export">
     
</div>







<br clear="all">&nbsp;


</div>

<div class="one-third column">

    <div id="findit">
    <span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rfr_id=info%3Asid%2Focoins.info%3Agenerator&amp;rft.genre=article&amp;rft.title=Journal+of+Psychosocial+Nursing+and+Mental+Health+Services&amp;rft.stitle=Journal+of+Psychosocial+Nursing+and+Mental+Health+Services&amp;rft.issn=0279-3695&amp;rft.date=2012&amp;rft.volume=50&amp;rft.issue=3&amp;rft.spage=32&amp;rft.aulast=Laizer&amp;rft.aufirst=Janet+T.&amp;rft.au=Janet+T.+Laizer&amp;rft_id=info:doi/10.3928%2F02793695-20120207-02"></span>
    </div>
        

    <div id="shareme">
    <h5>Share This</h5>
    <img src="{{ asset_url }}/_img/share_icons.png" border="0">
    </div>

    <div id="metrics">

    <h5>Social Metrics</h5><div><ul id="AltMetric"><li>Google+ Users: </li><li>Tweets: 19</li><li>Science Blogs: </li><li>Reddit Threads: </li><li>Mendeley Readers: 1</li><li>CiteULike Readers: 0</li><li>Connotea Readers: 0</li><li><a target="_blank" href="http://www.altmetric.com/details.php?citation_id=781026">Detailed Metrics</a></li></ul></div>

    </div>

    <!--
    <h5>Twitter</h5><div><ul id="relatedtweets"><li><a href="http://twitter.com/wiringthebrain"><img src="http://a0.twimg.com/profile_images/1456578216/WB-square-small_normal.jpg" /><strong>wiringthebrain</strong></a><br />Unexpected accumulation and action of antipsychotic drugs in synaptic vesicles: <a href="http://t.co/sAMcALdS">http://t.co/sAMcALdS</a><br /><a class="twtlink" target="_blank" href="http://twitter.com/WiringTheBrain/statuses/210688633454338048">View Original &raquo;</a></li><li><a href="http://twitter.com/brainduck"><img src="http://a0.twimg.com/profile_images/535503197/ducklings_normal.jpg" /><strong>brainduck</strong></a><br />RT @WiringTheBrain: Unexpected accumulation and action of antipsychotic drugs in synaptic vesicles: <a href="http://t.co/sAMcALdS">http://t.co/sAMcALdS</a><br /><a class="twtlink" target="_blank" href="http://twitter.com/brainduck/statuses/210688704849772544">View Original &raquo;</a></li><li><a href="http://twitter.com/natrevneurosci"><img src="http://a0.twimg.com/profile_images/1628696679/NRN_logo_normal.jpg" /><strong>natrevneurosci</strong></a><br />In Neuron: antipsychotics accumulate in synaptic vesicles and are released upon neuronal activity (£): <a href="http://t.co/aDp2GZCG">http://t.co/aDp2GZCG</a><br /><a class="twtlink" target="_blank" href="http://twitter.com/NatRevNeurosci/statuses/210764390222409728">View Original &raquo;</a></li><li><a href="http://twitter.com/symphonicworks"><img src="http://a0.twimg.com/profile_images/824731095/____normal.jpg" /><strong>symphonicworks</strong></a><br />Use-Dependent Inhibition of Synaptic Transmission by the Secretion of Intravesicularly Accumulated Antipsychotic Drugs <a href="http://t.co/owT5YKc6">http://t.co/owT5YKc6</a><br /><a class="twtlink" target="_blank" href="http://twitter.com/#!/symphonicworks/status/210940039054626816">View Original &raquo;</a></li></ul></div>
    -->
</div>        
{% endblock %}